.Leader {
    stroke-width: .5 !important;
    stroke: #56b200; /* #535353 */
    fill: none !important;
}

.Button {
    stroke-width: .25;
    stroke: #b5eb82; /* #ededed */
    fill: #b5eb82; /* #ededed */
}

.Ring {
    stroke-width: .5 !important;
    stroke: #56b200; !important; /* #535353 */
    fill: none !important;
}

.Label {
    stroke: none !important;
    stroke-width: .1 !important;
    font-size: .1 !important;
    fill: transparent !important;
}

.TouchStrip, .TouchRing {
    stroke-width: .1 !important;
    stroke: #b5eb82; !important; /* #ededed */
    fill: #56b200; !important; /* #535353 */
}
